<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stream Status - Configuration</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/config.css') }}">

  <script src="{{ url_for('static', filename='js/config.js') }}"></script>
</head>

<body onload="init()">
<h1><u>Stream Status - Configuration</u></h1>
<div id="applications">
  <h3>Applications</h3>
</div>

<table id="app-table">
</table>

</body>

</html>
