<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stream Status</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
  <h1>Stream Status</h1>
  <h2>Core Applications</h2>
  {% for app in apps %}
    <a href="{{app.url}}" target="_blank">
      <div class="app-status {% if app.get_is_healthy() %} app-healthy {% else %} app-unhealthy {% endif %}">
        {{ app }}
      </div>
    </a>
  {% endfor %}
</body>

</html>
