<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stream Status</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
  <h1>Stream Status</h1>
  <h2>Core Applications</h2>
  <div style="text-align: center;">
    <span style="width: 60%; display: inline-block;">Application</span>
    <span>Up/Down Time</span>
  </div>
  {% for app in apps %}
    <a href="{{app.url}}" target="_blank">
      <div id="{{app.app_name}}" class="app-status {% if app.get_is_healthy() %} app-healthy {% else %} app-unhealthy {% endif %}" style="text-align: center;">
        <span style="width: 60%; display: inline-block;">{{ app }}</span>
        <span id="{{app.app_name}}-uptime">{{ app.uptime }}</span>
      </div>
    </a>
  {% endfor %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('get_statuses');
    });

    socket.on('broadcast',function(data){
      for (const [app, app_info] of Object.entries(data)) {
        status = app_info['status'];
        let app_elem = document.getElementById(app);
        let app_time_elem = document.getElementById(app + '-uptime');
        app_time_elem.innerHTML = app_info['time'];
        if (status == 'true' && app_elem.classList.contains('app-unhealthy')) {
          app_elem.classList.add('app-healthy');
          app_elem.classList.remove('app-unhealthy');
        } else if (status == 'false' && app_elem.classList.contains('app-healthy')) {
          app_elem.classList.add('app-unhealthy');
          app_elem.classList.remove('app-healthy');
        }
      }
    });
</script>
</body>

</html>
